*.swp
*~
/.cabal-sandbox
/dist
/examples/**/*.exe
/examples/**/*.hi
/examples/**/*.o
/examples/Basic/HelloWorld
/examples/Basic/OpenALInfo
/examples/Basic/PlayFile
/examples/TestSuite/TestErrorStuff
/examples/TestSuite/TestFileLoader
/examples/TestSuite/TestMemoryLoader
/examples/TestSuite/TestVersion
/examples/TestSuite/TestWaveforms
cabal.sandbox.config
